body {
  	margin: 0;
} 
.wrapper-window {
  	height: 100vh;
}
.wrapper {
    height: 60vh;
    overflow: hidden; 
}
.contact-list {
    display: block;
    overflow-y: scroll;
}
.content {
    background: #999;
    color: #000; 
}
.columns{
    display: flex;
    flex:1;
    overflow-y: scroll;
}
.main{
    width: 25vh;
    background: #eee;
}

.sidebar-second{ 
    width: 90%;
    background: #ddd;
}
.entry-table {
    height: 45vh;
}